.containerss {
  display: flex;
  float: left;
  justify-content: space-between;
  padding: 20px;
}

.filter-container {
  width: 20%;
}

.category-buttons {
  display: flex;
  flex-direction: column;
}

.category-button {
  margin-bottom: 10px;
}

.category-content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 10px;
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.filter-heading {
  font-size: 30px;
  color: black; /* Set your desired text color */
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
